body{
  font-size:28px;
}

h1{
  border: 3px dashed green;
  margin: 150px 0px -10px 20px; /*top right bottom left*/
  /* margin: 150px 0px; top/bottom left/right*/
}

img{
  border: solid;
  background-color: salmon;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 25%;
  padding-bottom: 10%;

  margin-left:auto;
  margin-right:auto;
}

p{
  border-style:groove;
  border-color: navy;
  border-width: 10px;
  border-radius: 10px;
}
